@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;
  padding-bottom: 300px;
  padding-top: 20px;
}

.slide-in {
  animation: slide-in 1s ease forwards;
}

.gradient-text {
  background: -webkit-linear-gradient(45deg, #00c6ff, #0072ff, #ff00ff);
  background: -moz-linear-gradient(45deg, #00c6ff, #0072ff, #ff00ff);
  background: -o-linear-gradient(45deg, #00c6ff, #0072ff, #ff00ff);
  background: linear-gradient(45deg, #00c6ff, #0072ff, #ff00ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: -webkit-text-fill-color 0.3s ease;
}

.dark-mode .gradient-text {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #ff00ff, #0072ff, #00c6ff);
  background: -moz-linear-gradient(45deg, #ff00ff, #0072ff, #00c6ff);
  background: -o-linear-gradient(45deg, #ff00ff, #0072ff, #00c6ff);
  background: linear-gradient(45deg, #ff00ff, #0072ff, #00c6ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #fff;
  -moz-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  transition: -webkit-text-fill-color 0.3s ease;
}

.engineering-change a {
  color: rgb(134, 133, 133);
  text-decoration: none;
  transition: color 0.3s ease;
}

.engineering-change a:hover {
  text-decoration: underline;
}


.dark-mode .engineering-change {
  color: #ccc;
}

header {
  margin-bottom: 20px;
}

.mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.mode-toggle i {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.mode-toggle:hover i {
  transform: scale(1.1);
}

.dark-mode .mode-toggle i {
  color: #fff;
}

.dark-mode {
  background-color: #333;
  transition: background-color 0.3s ease;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.icon-container a {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.github-icon,
.email-icon {
  display: inline-block;
  color: #333;
  box-shadow: 0px 2px 4px rgba(117, 117, 117);
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.github-icon:hover,
.email-icon:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(117, 117, 117);
}

.github-icon svg,
.email-icon svg {
  width: 100%;
  height: auto;
}

.dark-mode .github-icon,
.dark-mode .email-icon {
  color: #fff;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-text {
  animation: fade-in-out 10s ease-in-out infinite;
  color: rgb(232, 106, 10);
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  background-color: #333;
}

.loading-screen span {
  opacity: 1;
  animation: fadeOut 2s ease-in-out forwards;
  color: rgb(117, 117, 117);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin: 20px auto;
  max-width: 800px;
  margin-bottom: 100px;
}

.grid-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 4px 8px rgba(54, 53, 53, 0.3); /* Add the box shadow */
  background-color: #f5f5f5; /* Add the medium gray background color */
  opacity: 0; /* Set initial opacity to 0 */
  animation: fade-in 3s forwards; /* Add the fade-in animation */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #d86e41;
  margin-bottom: 10px;
}
