.footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
    font-weight: bold;
  }
  
  .footer-text {
    font-size: 14px;
  }
  
  .dark-mode .footer {
    background-color: #fff;
  }
  
  .dark-mode .footer-text {
    color: #fff;
  }

  
  .footer-text a {
    color: #8B0000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }